.test {
  margin-left: 20%;
  margin-right: 20%;
  font-size: 24px;
  background-color: #4680ff;
}
.imgSensor {
  border-image-outset: 50px;
  border-color: #000000;
  width: 25%;
  height: 25%;
  position: center;
  margin-left: 40%;
  padding-right: 5%;
}
.alert{
  color: red;
}
.test4{
  text-align: center;
  font-size: 35px;
  margin-left: 0%;
  margin-right: 0%;
  color: white;
  background-color: #4680ff;
}
