<!--<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Much longer nav link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>-->

<div class="container emp-profile">
  <!--  <form method="post">-->
  <div class="row">
    <div class="col-md-4">
      <div class="profile-img">
<!--        <img src="assets/images/logo_pi.png" alt=""/>-->
        <div>
          <div class="col-md-12" *ngFor="let usr of users">
            <p><span *ngFor=" let curr of clients">
              <span *ngIf="curr.emailC == usr.email">
                <img src="{{curr.imageC}}" class="avatar img-circle img-thumbnail" alt="avatar"/>
              </span></span></p>
          </div>
        </div>
        <!--<div class="file btn btn-lg btn-primary">
          Change Photo
          <input type="file" name="file"/>
        </div>-->
      </div>
    </div>
    <div class="col-md-6">
      <div class="profile-head">
        <br><p></p>
        <h4 *ngFor="let usr of users">
          <span *ngFor="let cl of clients">
            <span *ngIf="usr.email == cl.emailC">
              <label>hello {{cl.userNameC}}</label>
            </span>
          </span>
          <br>
          <p></p>
        </h4>
        <h5>Feel free to contact your neighbors!</h5>
        <p class="proile-rating"></p>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <!--<li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
          </li>-->
          <!--<li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
          </li>-->
        </ul>
      </div>
    </div>
    <!--<div class="col-md-2">
      <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" (click)="editprofile()"/>
    </div>-->
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="profile-work">
        <p></p>
        <!--          <a href="">Website Link</a><br/>-->
        <!--          <a href="">Bootsnipp Profile</a><br/>-->
        <!--          <a href="">Bootply Profile</a>-->
        <div><hr color="#0062cc"></div>
        <div class="row" >
          <div class="col-md-7">
            <input type="submit" class="profile-edit-btn" name="profile"
                   value="Profile" (click)="profile()"/>
          </div>
        </div>

        <div><hr></div>
        <div class="row" >
          <div class="col-md-7">
            <input type="submit" class="profile-edit-btn" name="editprofile"
                   value="Edit Profile" (click)="editprofile()"/>
          </div>
        </div>

        <div><hr></div>
        <div class="row" >
          <div class="col-md-7">
            <input type="submit" class="profile-edit-btn" name="listreports"
                   value="Add Reports" (click)="addreport()"/>
          </div>
        </div>

        <div><hr></div>
        <div class="row" >
          <div class="col-md-7">
            <input type="submit" class="profile-edit-btn" name="listreports"
                   value="Log Out" (click)="logout()"/>
          </div>
        </div>
        <div><hr color="#0062cc"></div>

        <!--          <p>SKILLS</p>-->
        <!--          <a href="">Web Designer</a><br/>-->
        <!--          <a href="">Web Developer</a><br/>-->
        <!--          <a href="">WordPress</a><br/>-->
        <!--          <a href="">WooCommerce</a><br/>-->
        <!--          <a href="">PHP, .Net</a><br/>-->
      </div>
    </div>
    <div class="col-md-8">
      <div class="tab-content profile-tab" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <table class="table" style="border-color: #00c6ff">
            <thead>
            <tr class="test">
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>City</th>
              <th>Address</th>
            </tr>
            </thead>
            <tbody class="test2" *ngFor="let cl of clients">
            <tr *ngFor="let usr of users">
              <td *ngIf="cl.emailC != usr.email">{{cl._id.slice(20,4)}}</td>
              <td *ngIf="cl.emailC != usr.email">{{cl.firstNameC}}</td>
              <td *ngIf="cl.emailC != usr.email">{{cl.lastNameC}}</td>
              <td *ngIf="cl.emailC != usr.email">{{cl.emailC}}</td>
              <td *ngIf="cl.emailC != usr.email">{{cl.cityC}}</td>
              <td *ngIf="cl.emailC != usr.email">{{cl.addressC}}</td>
            </tr>
            </tbody>
          </table>
          <div><hr color="#0062cc"></div>
        </div>
      </div>
    </div>
  </div>

</div>



<!--<table class="table table-hover">
  <thead>
  <tr class="test">
    <th>#</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Cin</th>
    <th>Birthday</th>
    <th>Email</th>
    <th>City</th>
    <th>Address</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody class="test2">
  <tr>
    <td>1</td>
    <td>Irad</td>
    <td>{{ client.lastNameC }}</td>
    <td>{{ client.cinC}}</td>
    <td>{{ client.birthDateC.slice(0,10)}}</td>
    <td>{{ client.emailC}}</td>
    <td>{{ client.cityC }}</td>
    <td>{{ client.addressC }}</td>
  </tr>
  </tbody>
</table>-->

